*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  list-style-type: none;
}


/* scroll settings */
::-webkit-scrollbar {
  background-color: #222;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(236, 51, 51);
  border-radius: 5px;

}

body, html {
  width: 100%;
  height: 100%;
  cursor: default;
}

body {
  background-color: #FFF;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.2;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #EEEEEE;
}

#side-bar {
  width: 200px;
  height: calc(100% - 60px);
  background-color: #222;
  position: fixed;;
  left: 0;
  z-index: 1;
  /* border: 1px solid red */
}

.music-container {
  width: calc(100% - 50px);
  height: calc(100% - 60px);
  background-color: #333;
  position: absolute;
  z-index: 2;
  right: 0;
  /* transition: 0.2s ease-in-out; */
  overflow-y: auto;
  overflow-x: hidden;
}

.harmburger {
  width: 50px;
  height: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.harmburger span {
  width: 50%;
  height: 2px;
  display: block;
  background-color: rgb(236, 51, 51);;
}

.nav-bar {
  /* border: 1px solid red; */
  min-height: 200px;
  /* padding: 10px; */
}

.menu-item {
  margin-top: 50px;
}

.menu-item > li {
  height: 50px;
  cursor: pointer;
  position: relative;
}

.menu-item .label {
  display: flex;
  align-items: center;
  height: 50px;
}

.menu-item > li i {
  width: 50px;
  display: block;
  font-size: 20px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item  > li span {
  font-size: 12px;
  letter-spacing: 2px;
}

.track {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  height: 50px;
  color: #999;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  font-size: 12px;
}

.track:nth-child(even) {
  background-color: #222;
}

.track * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 2px;
}

.track .index {
  width: 50px;
}

.track .title {
  width: 30%
}

.track i {
  width: 50px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: rgb(236, 51, 51);;
}

.track .artist {
  width: 30%
}

.track .album {
  width: 20%
}

.track .genre {
  width: 100px;
}

.track .year {
  width: 100px;
  text-align: center;
}

.track .time {
  width: 100px;
  text-align: right;
}

.slide {
  width: calc(100% - 200px);
}

.favorite {
  position: relative;
  display: block;
  /* color: rgb(236, 51, 51);; */
}


.favorite .arrow {
  font-size: 12px;
  position: absolute;
  right: 0;
}

.fav-item {
  /* background-color: #333; */
  height: 100px;
  /* max-height: 200px; */
  padding: 20px;
  color: #999;
  overflow-y:  scroll;
  border-top: 1px solid rgb(236, 51, 51);
  display: none;
}

.show {
  display: block;
}

.fav-item li {
  border-bottom: 1px solid #111;
  border-top: 1px solid #333;
  padding: 5px 0;
}

.fav-item li:first-child {
  border-top: none;
}

.fav-item li:last-child {
  border-bottom: none;
}

.fav-item li span{
 display: block;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.fav-item li span.title {
  font-size: 12px;
  margin-left: 5px;
}
.fav-item li span.time {
  font-size: 10px;
  margin: 5px;
}

.player-control {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: rgb(236, 51, 51);
  display: flex;
}

section.block1 {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  /* background-color: rgb(83, 19, 19) */
}

.cover img {
  width: 50px;
}

.cover {
  margin-right: 10px;
}

section.block2 {
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nextMusic {
  text-align: right;
}

.nextMusic, .prevMusic {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nextMusic h4,
.prevMusic h4 {
  font-size: 14px;
  font-weight: 400;
}

.nextMusic h6,
.prevMusic h6 {
  font-size: 12px;
  font-weight: 400;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.buttons-control {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  /* border: 1px solid green; */
}

.buttons-control div {
  font-size: 20px;
  width: 50px;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-control div span {
  font-size: 12px;
}

.buttons-control div#playPause-button {
  font-size: 30px;
}

.progress {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-time,
.duration-time {
  font-size: 12px;
}

.seek-bar {
  width: 80%;
  height: 3px;
  background-color: rgba(255,255,255,0.2);
  position: relative;
  cursor: pointer;
  /* transition: all 300ms ease-in-out; */
}

.seek-fill {
  width: 50%;
  background-color: white;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  /* transition: all 300ms ease-in-out; */
}

.seek-fill::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  right: 0;
  border-radius: 50%;
}

#shuffle-button,
#repeat-button{
	line-height: 60px;
	color: rgba(255,255,255,0.2);
	position: relative;
}

#shuffle-button.active,
#repeat-button.active,
#playPause-button.active{
  color: white;
  position: relative;
}

#repeat-button i span {
  opacity: 0;
  font: bold 12px 'Lato';
}

.player-name p.title,
.player-name p.artist {
  font-size: 14px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-name p.artist {
  font-size: 12px;
}














